<%- include('partials/header') %>

<nav class="navbar">
    <div class="container-fluid">
      
        <img src="/website-photos/logo.png" alt="logo" class="logo"/>
      
    </div>
  </nav>
<div class="container">
    
    <div class="jumbotron centered">
        <div class="login-register">
            <h3 class="login-register-title">User Login or Registration</h3>
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
              <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
        </div>

    </div>
</div>


<%- include('partials/footer') %>